.table {
	font-size: 11px;
}

.centered {
	width: 50%;
	margin: auto;
}

.offcentered {
	width: 60%;
	margin: auto;
}

.floatLeft {
	width: 50%;
	float: left;
}
.floatRight {
	width: 50%;
	float: right;
}
.container {
	overflow: hidden;
}

.ui-widget {
	font-size: 13px;
}

/* makes map cooperate with z-indexing, for example when using modal dialog boxes*/
/* #simple_map { position:relative; height:500px; width:1000px; } */
#simple_map {
	float: left;
	height: 400px;
	width: 800px;
}
#rightOfMap {
	height: 400px;
	font-size: 14px;
	float: left;
}
#mapContainer {
	height: 400px;
}
.colorScaleLegend {
	height: 400px;
	margin-left: 5px;
}
#legend {
	height: 400px;
	float: left;
	position: relative;
	margin-right:-999em;
}
#scaleMax {
	position: relative;
	top: -405px;
	left: 0px;
	color: white;
}
#scaleTwoThird {
	position: relative;
	top: -303px;
	left: 0px;
}
#scaleName {
	position: relative;
	top: -253px;
	left: 0px;
}
#scaleOneThird {
	position: relative;
	top: -201px;
	left: 0px;
}
#scaleMin {
	position: relative;
	top: -100px;
	left: 0px;
	color: white;
}

.olPDFButtonItemActive {
	position: absolute;
	height: 20px;
	width: 20px;
	background: url('pdf_icon.png');
}
.olPopupsButtonItemActive {
	position: absolute;
	width: 17px;
	height: 17px;
	background: url('images/close.gif');
}
.olPopupsPanel {
	top: 93%;
	left: 2%;
	height: 20px;
	width: 20px;
	cursor: pointer;
}
.olControlPanel {
	top: 87%;
	left: 2%;
	height: 20px;
	width: 20px;
	cursor: pointer;
}
.olqTip2ButtonItemActive {
	position: absolute;
	width: 16px;
	height: 16px;
	background: url('throbber.png');
}
.olqTip2Panel {
	top: 81%;
	left: 2%;
	height: 16px;
	width: 16px;
	cursor: pointer;
}

.olDisableNavButtonItemActive {
	position: absolute;
	width: 18px;
	height: 18px;
	background: url('disable_moving.png');
}
.olDisableNavPanel {
	top: 75%;
	left: 2%;
	height: 18px;
	width: 18px;
	cursor: pointer;
}