
.table {
	font-size: 11px;
}

#rawRequestText {
	width: 100%;
	height: 100%
}

.centered {
    width: 50%;
    margin: auto;
}

.offcentered {
    width: 60%;
    margin: auto;
}

.floatLeft { width: 50%; float: left; }
.floatRight { width: 50%; float: right; }
.container { overflow: hidden; }

.ui-widget { font-size: 13px; }

/* makes map cooperate with z-indexing, for example when using modal dialog boxes*/
/* #simple_map { position:relative; height:500px; width:1000px; } */
#simple_map { position:relative; height:400px; width:800px; }